/* ini nav dan header */
.fitur {
    background-color: rgb(255, 255, 255);
}

.btn-primary {
    background: #302f2f;
    border: 0px;
    padding: 15px 40px 15px 40px;
    font-weight: bold;
    color: rgb(223, 223, 223);
}

.btn-primary:hover {
    background: #254280;
}

.btn-secondary {
    background: none;
    border: 1px solid rgb(15, 18, 24);
    padding: 15px 40px 15px 40px;
    font-weight: bold;
    color: rgb(20, 26, 32);
}

.btn-secondary:hover {
    background: none;
    border: 1px solid rgb(95, 89, 89);
    color: rgb(36, 41, 56);
}

.header {
    font-family: poppins;
   
}

.header img {
    width: 100%;
}

.header h1 {
    font-weight: bold;
    color: rgb(26, 33, 43);
}

.header p {
    font-weight: 400;
    color: rgb(10, 12, 14);
}

.navbar-brand img {
    width: 60px;
}

a .nav-link{
    color: rgb(230, 224, 224);
}



.navbar .navbar-nav li a {
    color: white;
}
/* End nav and header */

/* Ini gallery */
.image .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


/* Footer */
.footers {
    background-color: rgb(19, 21, 32);
    color: white;
    font-family: poppins;
    font-weight: 400;
}
